@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(#CDCDCD, #F5F5F5) no-repeat center fixed;
    height: 100vh;
    width: 100vw;
}

.all>.left {
    width: 30%;
    padding-left: 12%;
    float: left;
    box-sizing: border-box;
}

.all>.right {
    width: 70%;
    float: right;
    box-sizing: border-box;
}

.Middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Middle>.Mcircle {
    height: 149px;
    width: 60%;
    border: none;
    border-radius: 100px;
    background-color: #151E63;
    margin-top: -100px;
    margin-left: -20px;
}

.top {
    margin-top: -30px;
}

p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 2vw;
    line-height: 36.31px;
    letter-spacing: -0.05rem;
    color: #242A57;
    margin-right: auto;
    margin-left: 2vw;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -1vw;
    margin-right: 5vw;
}

.icon>i {
    margin-right: 2vw;
    font-size: 2rem;
    color: #181D45;
}

@media (max-width: 1300px) {
    .icon>i {
        font-size: 1.5rem;
    }
}

.bell {
    display: flex;
    align-items: center;
}

.bell>i {
    margin-right: 5px;
    color: #181D45;
}

@media (max-width: 1300px) {
    .bell>i {
        font-size: 1.5rem;
    }
}


.logo>p {
    font-family: 'Jua';
    font-weight: 400;
    font-size: 6.25vw;
    line-height: 125px;
    letter-spacing: -0.05rem;
    color: #233C9B;
    margin-left: 7%;
    margin-top: 8%;
    margin-bottom:7%;
}

.middleTitle {
    display: flex;
    align-items: center;
    margin-left:79%;
    margin-top:-13%;
    margin-bottom: 11%;
}

.middleTitle>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 36.31px;
    letter-spacing: -0.05rem;
    color: #000000;
    margin: 0;
}

.middleTitle>p:not(:first-child) {
    margin-left: 5px;
}

.middleTitle>#bar{
    margin-right:5%;
    margin-left:10%;
}

.middleTitle>#Cal{
    color:#0F3FE8;
    font-weight:700;
}

.userBox>.user {
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 100px;
    background-color: #0015AD;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    color: white;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

@media (max-width: 1500px) {
    .userBox>.user {
        font-size: 15px;
    }
}

.userbox {
    width: 15vw;
    min-width: 30px;
    min-height: 30px;
    height: 20vw;
    border: 1px solid #919191;
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: -3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.userbox>.userImage {
    width: 8vw;
    padding-top: 8vw;
    border: 2px solid #142F9E;
    background: linear-gradient(#CFCFCF, #FFFFFF);
    border-radius: 50%;
    margin-top: 4vh;
}

.userbox>.name {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #142F9E;
    margin-top: 5%;
}

@media (max-width: 1300px) {
    .userbox>.name {
        font-size: 5px;
    }
}

@media (max-width: 1100px) {
    .userbox>.name {
        font-size: 2px;
    }
}

.userbox>.email {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    color: #4967FF;
}

@media (max-width: 1200px) {
    .userbox>.email {
        font-size: 5px;
    }
}

@media (max-width: 1100px) {
    .userbox>.email {
        font-size: 2px;
    }
}

.userbox>.explain {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #142F9E;
    margin-top: 2%;
}

@media (max-width: 1600px) {
    .userbox>.explain {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .userbox>.explain {
        font-size: 10px;
    }
}

@media (max-width: 1100px) {
    .userbox>.explain {
        font-size: 2px;
    }
}

.userbox>.button-container {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

#pen,
#setting {
    width: 6vw;
    height: 20px;
    border: none;
    background-color: white;
    color: #09174E;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05rem;
    white-space: nowrap;
}

@media (max-width: 1700px) {

    #pen,
    #setting {
        font-size: 1px;
        height: 1vh;
    }
}

#pen {
    width: 4vw;
    margin-right: 5px;
}

#pen:hover,
#setting:hover {
    color: #142F9E;
}

#pen img,
#setting img {
    width: 1vw;
    height: 1vw;
    margin-right: 3px;
}

.menu {
    width: 14.5vw;
    height: 55vw;
    border: 1px solid #919191;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: 20%;
    margin-left: 0.5%;
    background-color: white;
}

.menu>.checklist {
    width: 13vw;
    height: 4vw;
    padding-left: 9%;
    background-color: #131B5A;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .menu>.checklist {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {
    .menu>.checklist {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .menu>.checklist {
        font-size: 10px;
    }
}

.menu>.checklistcircle {
    width: 3vw;
    height: 4vw;
    background-color: #131B5A;
    border-radius: 0 4vw 4vw 0;
    margin-top: -4vw;
    margin-left: 13vw;
}

.menu>.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu>.text1>.checklistText,
.menu>.text1>.calText {
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}

.menu>.text1>.calText {
    margin-bottom: 1.5vw;
}

@media (max-width: 1700px) {
    .menu>.text1>.calText {
        margin-bottom: 1vw;
    }
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText,
    .menu>.text1>.calText {
        margin-top: 1vw;
    }
}

@media (max-width: 1200px) {
    .menu>.text1>.calText {
        margin-bottom: 0.5vw;
    }
}

@media (max-width: 1200px) {

    .menu>.text1>.checklistText,
    .menu>.text1>.calText {
        margin-top: 0.5vw;
    }
}

.menu>.text1>.checklistText>p,
.menu>.text1>.calText>p {
    font-family: 'Inter';
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    font-weight: 400;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 10px;
    }
}

.menu>.text1>.checklistText>i,
.menu>.text1>.calText>i {
    font-size: 0.5rem;
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText>i,
    .menu>.text1>.calText>i {
        font-size: 0.1rem;
    }
}

.menu>.noticeboard {
    width: 13vw;
    height: 4vw;
    padding-left: 9%;
    background-color: #131B5A;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .menu>.noticeboard {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .menu>.noticeboard {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .menu>.noticeboard {
        font-size: 10px;
    }
}

.menu>.noticeboardcircle {
    width: 3vw;
    height: 4vw;
    background-color: #131B5A;
    border-radius: 0 4vw 4vw 0;
    margin-top: -4vw;
    margin-left: 13vw;
}

.menu>.text2,
.menu>.text3,
.menu>.text4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu>.text2>.Jeonse,
.menu>.text2>.bargain,
.menu>.text3>.JeonseReview,
.menu>.text3>.bargainReview,
.menu>.text4>.criminal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}

@media (max-width: 1700px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 1vw;
    }
}

@media (max-width: 1200px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 0.5vw;
    }
}

@media (max-width: 1000px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 0.1vw;
    }
}

.menu>.text2>.notice,
.menu>.text2>.monthly,
.menu>.text3>.review,
.menu>.text3>.monthlyReview,
.menu>.text4>.town,
.menu>.text4>.situation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}

@media (max-width: 1700px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 1.5vw;
    }
}

@media (max-width: 1600px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 0.5vw;
    }
}

@media (max-width: 1500px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 0.3vw;
    }
}

@media (max-width: 1300px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 0.1vw;
    }
}


.menu>.text1>.checklistText {
    margin-left: -1vw;
}

.menu>.text1>.checklistText>i {
    padding-right: 2vw;
}

@media (max-width: 1700px) {
    .menu>.text1>.checklistText {
        margin-left: -2vw;
    }
}

@media (max-width: 1700px) {
    .menu>.text1>.checklistText>i {
        padding-right: 1vw;
    }
}

@media (max-width: 1500px) {
    .menu>.text1>.checklistText {
        margin-left: -1vw;
    }
}

@media (max-width: 1500px) {
    .menu>.text1>.checklistText>i {
        padding-right: 2vw;
    }
}

@media (max-width: 1300px) {
    .menu>.text1>.checklistText {
        margin-left: -2vw;
    }
}

@media (max-width: 1300px) {
    .menu>.text1>.checklistText>i {
        padding-right: 2vw;
    }
}

.menu>.text1>.calText {
    margin-left: -3vw;
}

.menu>.text1>.calText>i {
    padding-right: 2.5vw;
}

.menu>.text2>.monthly,
.menu>.text2>.Jeonse,
.menu>.text2>.bargain {
    margin-left: -1vw;
}

.menu>.text2>.monthly>i,
.menu>.text2>.Jeonse>i,
.menu>.text2>.bargain>i {
    padding-right: 1vw;
}

.menu>.text3>.monthlyReview,
.menu>.text3>.JeonseReview,
.menu>.text3>.bargainReview {
    margin-left: -2vw;
}

.menu>.text3>.monthlyReview>i,
.menu>.text3>.JeonseReview>i,
.menu>.text3>.bargainReview>i {
    padding-right: 2vw;
}

.menu>.text4>.situation {
    margin-left: -1vw;
}

.menu>.text4>.situation>i {
    padding-right: 1vw;
}

.menu>.text4>.criminal>i {
    padding-right: 0.6vw;
}

@media (max-width: 1400px) {
    .menu>.text4>.criminal>i {
        padding-right: 1vw;
    }
}

.text2>.notice>p,
.text3>.review>p,
.text4>.town>p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 10px;
    }
}

.text2>.monthly>p,
.text2>.Jeonse>p,
.text2>.bargain>p,
.text3>.monthlyReview>p,
.text3>.JeonseReview>p,
.text3>.bargainReview>p,
.text4>.criminal>p,
.text4>.situation>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 10px;
    }
}

.text2>.monthly>i,
.text2>.Jeonse>i,
.text2>.bargain>i,
.text4>.situation>i,
.text4>.criminal>i {
    font-size: 0.5rem;
}

@media (max-width: 1700px) {

    .text2>.monthly>i,
    .text2>.Jeonse>i,
    .text2>.bargain>i,
    .text4>.situation>i,
    .text4>.criminal>i {
        font-size: 0.1rem;
    }
}

.text3>.monthlyReview>i,
.text3>.JeonseReview>i,
.text3>.bargainReview>i {
    font-size: 0.5rem;
}

.text2>hr,
.text3>hr {
    width: 14.5vw;
    border: 1px solid #131B5A;
    margin-top: 1.5vw;
}

@media (max-width: 1900px) {

    .text2>hr,
    .text3>hr {
        margin-top: 0.9vw;
    }
}

@media (max-width: 1800px) {

    .text2>hr,
    .text3>hr {
        margin-top: 0.8vw;
    }
}

.scheduleTitle {
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 100px;
    background-color: #0015AD;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    color: white;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    z-index: 1;
    position: relative;
}

@media (max-width: 1500px) {
    .scheduleTitle {
        font-size: 15px;
    }
}

.scheduleBox {
    width: 15vw;
    height: 20vw;
    border: 1px solid #919191;
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: -3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scheduleBox>img {
    width: 7vw;
    height: 7vw;
}

@media (max-width:1300px) {
    .scheduleBox>img {
        margin-top: 2vw;
    }
}

.scheduleBox>.scheduleText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.scheduleBox>.scheduleText>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -0.05rem;
    color: #818181;
    margin: 0;
    margin-top: 20px;
}

@media (max-width:1500px) {
    .scheduleBox>.scheduleText>p {
        font-size: 15px;
    }
}

@media (max-width:1100px) {
    .scheduleBox>.scheduleText>p {
        font-size: 10px;
    }
}

.calendarbox {
    cursor: pointer;
    position:relative;
}

.calendarbox>.Calendar1 {
    width: 55vw;
    height: 40vw;
    margin-left:5%;
    border: 1px solid #424242;
    background-color: #F5F5F5;
    border-radius: 40px;
    box-shadow: 23px 27px 38px 1px rgba(0, 0, 0, 0.20);
    z-index: 1;
}

.calendarbox>.leftbar {
    position:absolute;
    width: 8vw;
    height:40vw;
    margin-top:-58%;
    margin-left:1%;
    border-radius: 100px;
    background: linear-gradient(#23326F, #4967FF);
    box-shadow: 9px 14px 34px 0px rgba(0, 0, 0, 0.34);
    z-index:-1;
}

.calendarbox>.leftcircle {
    width: 7vw;
    height: 7vw;
    position: absolute;
    margin-top:-59%;
    margin-left:1%;
    background-color: #09174E;
    border-radius: 50%;
    box-shadow: 9px 14px 34px 0px rgba(0, 0, 0, 0.34);
    z-index: 3;
}

.calendarbox>.Calendar1>.Container{
    display: flex;
    align-items: center;
    margin-left:7vw;
    margin-top:4vw;
}

.calendarbox>.Calendar1>.Container>i {
    width: 18px;
    height: 16.5px;
    z-index: 3;
    color: #4F4F4F;
    margin-top: -1vw;
}

@media (max-width:1400px) {
    .calendarbox>.Calendar1>.Container>i{
        font-size:1.5rem;
    }
}

.calendarbox>.Calendar1>.Container>.ctext>p {
    font-family: Inter;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #4F4F4F;
    margin-top:-1vw;
    margin-left:1vw;
    z-index: 3;
}

.calendarbox>.Calendar1>.innerCalendar {
    width: 51vw;
    height: 34vw;
    border: 1px solid #767676;
    border-radius: 70px;
    margin-left:2vw;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.calendarbox>.Calendar1>.innerCalendar>.calendar {
    z-index: 999;
    margin-top:-3vw;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 11vw;
    margin-top:3vw;
}

.year-month,
.year-month2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.6vw;
    font-weight: 700;
    text-align: left;
    margin-top:1vw;
    color: #505050;
}

.year-month {
    margin-right: 1vw;
}

.year-month2 {
    margin-left: 1vw;
}

.nav {
    display: flex;
}

.nav-btn {
    width: 3vw;
    height: 1.5vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 2.7vw;
    color: #1A2344;
}

.go-prev {
    color: #000000;
    margin-top:-1vw;
}

.go-today {
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-next {
    color: #000000;
    margin-top: -1vw;
}

.days {
    display: flex;
    margin: 0.2vw 0 0;
    width: 47vw;
    height: 2.7vw;
    border: 1px solid #4967FF;
    border-radius: 20px;
    background-color: #BFCBF6;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
}

.day {
    width: calc(100%/7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    width: 47vw;
    height: 26vw;
    border-right: 1px solid #676767;
    border-bottom: 1px solid #676767;
    border-left: 1px solid #676767;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: inset 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.date {
    width: calc(100%/7);
    padding: 0.5vw 0.7vw;
    text-align: right;
    border-bottom: 2px solid #BFCBF6;
    border-left: 2px solid #BFCBF6;
    font-family: Inter;
    font-size: 0.7vw;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.05em;
    text-align: right;
}

/*할일 div*/
.date-bar, .date-bar2 {
    position:absolute;
    width: 4vw;
    height: 1vw;
    background-color: #4967FF;
    border-radius:1vw;
    white-space: nowrap;
    font-family: 'Pretendard';
    font-weight: 600;
    color: #424242;
    font-size: 0.2vw;
    text-align:center;
}

.date-bar2 {
    margin-top:1.5vw;
    background-color:#87B3FF;
}


.day:nth-child(7n+1),
.date:nth-child(7n+1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: .3;
}

.today {
    position: relative;
}

.today:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border: 2px solid #BFCBF6;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* 배경 투명도 조절 */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#4A66FF, #77B5FF);
    margin: auto;
}

.modal>.modal-content>.modalTop>p {
    font-family: Jua;
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #E9E9E9;
    cursor: pointer;
    background-color: none;
}

.modal>.modal-content>.modalTop>p:hover {
    color: #233C9B;
}

.modal>.modal-content>.modalTop{
    display: flex;
    justify-content: flex-end;
    margin-top:1vw;
}

.modal>.modal-content>.modalTop>.rightContainer{
    display:inline-flex;
    margin-top:2vw;
    margin-right:3vw;

}

.modal>.modal-content>.modalTop>.rightContainer>.text4>p {
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: left;
    color: #D1D1D1;
}

.modal>.modal-content>.modalTop>.rightContainer>p {
    color:#A4A4A4;
}

.modal>.modal-content>.modalTop>.rightContainer>.text6>p {
    font-family: Inter;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: left;
    color: white;
}

.modal>.modal-content>.modalBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal>.modal-content>.modalBox>.modalbox {
    width: 60%;
    height: 39vw;
    border-radius: 50px;
    border: 1px solid #424242;
    background-color: white;
    z-index: 2;
}

.modal>.modal-content>.modalBox>.modalbar {
    z-index:1;
    position: absolute;
    margin-left:-60%;
    width: 5vw;
    height: 39vw;
    background: linear-gradient(#23326F, #4967ff);
    border-radius: 100px;
    box-shadow: 9px 14px 34px 0px rgba(0, 0, 0, 0.34);
}

.modal>.modal-content>.modalBox>.modalcircle {
    position:absolute;
    width: 5vw;
    height: 5vw;
    margin-left:-60%;
    margin-top:-35%;
    border-radius: 50%;
    background-color: #09174E;
    box-shadow: 9px 14px 34px 0px rgba(0, 0, 0, 0.34);
    z-index: 2;
}

.modal>.modal-content>.modalBox>i{
    position:absolute;
    width:0.9vw;
    height:0.8vw;
    color:#4F4F4F;
    z-index:3;
    margin-left:-50%;
    margin-top:-32%;
}

@media (max-width:1400px) {
    .modal>.modal-content>.modalBox>i {
        font-size: 1.5rem;
    }
}

@media (max-width:1200px) {
    .modal>.modal-content>.modalBox>i{
        font-size:1rem;
    }
}

.modal>.modal-content>.modalBox>.ctext2{
    position:absolute;
    font-family: 'Inter';
    font-weight:400;
    font-size:1.2vw;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    color:#4F4F4F;
    margin-top:-32%;
    margin-left:-42%;
    z-index:3;
}

.modal>.modal-content>.modalBox>.inner{
    width: 55vw;
    height: 34vw;
    border: 1px solid #767676;
    border-radius: 30px;
    position: absolute;
    margin-top:4vw;
    z-index:4;
}

.modalcalendar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    margin-top:-35%;
    margin-left:25%;
}

.modalheader {
    display: flex;
    align-items: center;
    margin-left:-5%;
}

.modal-year-month,
.modal-year-month2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.9vw;
    font-weight: 700;
    color: #505050;
    margin-top: 1vw;
}

.modal-year-month {
    margin-right: 1vw;
}

.modal-year-month2 {
    margin-left: 1vw;
}

.modalnav {
    display: flex;
}

.modalnav-btn {
    width: 1.4vw;
    height: 1.5vw;
    border: none;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 2.7vw;
    color: #1A2344;
    margin-top:0.5vw;
}

.modal-go-today {
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1vw;
}

.modaldays {
    display: flex;
    margin: 0.7vw 0 0;
    width: 50vw;
    height: 2.7vw;
    border: 1px solid #4967FF;
    border-radius: 20px;
    background-color: #BFCBF6;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
}

.modalday {
    width: calc(100%/7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000000;
}

.modaldates {
    display: flex;
    flex-flow: row wrap;
    width: 50vw;
    height: 27vw;
    border-right: 1px solid #676767;
    border-bottom: 1px solid #676767;
    border-left: 1px solid #676767;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.modaldate {
    width: calc(100%/7);
    padding: 10px 15px;
    text-align: right;
    border-bottom: 2px solid #BFCBF6;
    border-left: 2px solid #BFCBF6;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.7vw;
    color: #646464;
}

.modalday:nth-child(7n+1),
.modaldate:nth-child(7n+1) {
    color: #D13E3E;
}

.modalday:nth-child(7n),
.modaldate:nth-child(7n) {
    color: #396EE2;
}

.mdoal-today-hover:hover {
    background-color: #E7FFDE;
}

.modal-other {
    opacity: .3;
}

.modal-other-style {
    background-color: pink;
}

.modal-today {
    position: relative;
}

.modal-today:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border: 2px solid #BFCBF6;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
}