@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(white,#CDCDCD) no-repeat center fixed;
    height: 100vh;
    width: 100vw;
}

.all{
    padding-top:9vw;
}

.all>.left {
    width: 30%;
    padding-left: 12%;
    float: left;
    box-sizing: border-box;
    background-color:lightblue;
}

.all>.right {
    width: 70%;
    float: right;
    box-sizing: border-box;
    background-color:pink;
}

.top {
    margin-top: -30px;
}

p {
    font-family: 'Jua';
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 62.5px;
    letter-spacing: -0.05rem;
    color: #0F3FE8;
    margin-right: auto;
    margin-left: 15vw;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -4.5vw;
    margin-right: 10vw;
}

.icon>i {
    margin-right: 2vw;
    font-size: 2rem;
    color: #181D45;
}

@media (max-width: 1300px) {
    .icon>i {
        font-size: 1.5rem;
    }
}

.bell {
    display: flex;
    align-items: center;
}

.bell>i {
    margin-right: 5px;
    color: #181D45;
}

@media (max-width: 1300px) {
    .bell>i {
        font-size: 1.5rem;
    }
}

.topBox{
    width:100vw;
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:2vw;
    margin-left:-1vw;
    position:relative;
}

.topBox>.topBlueBox{
    width: 96vw;
    height: 31vw;
    background-color: #4762FF;
    border-color: none;
    border-radius: 3vw;
    box-shadow: inset 0px -39px 34px 0px rgba(0, 0, 0, 0.01);
}

.topBox>.topCircle{
    width:31vw;
    height:31vw;
    position:absolute;
    margin-left:-20vw;
    background: linear-gradient(270deg, #0418AB -20.77%, rgba(4, 24, 171, 0) 71.88%);
    box-shadow: 17px 5px 33px 0px #00000030;
    border-radius:50%;
    border:none;
}

.topBox>p{
    position:absolute;
    margin-left:-50vw;
    margin-top:-5.5vw;
    font-family: 'Pretendard';
    font-weight:700;
    font-size:7.5vw;
    font-weight:150px;
    color:white;
}

.topBox>#p1{
    letter-spacing: 0.1rem;
    margin-left:-54.1vw;
}

.topBox>#p2{
    letter-spacing: -0.05rem;
    margin-top:10vw;
}

.topBox>#mini2{
    font-family: 'Pretendard';
    font-weight: 600;
    font-size:1.5vw;
    line-height: 35.8vw;
    letter-spacing: -0.05rem;
    color:whtie;
    margin-left:56vw;
    margin-top:17.5vw;
}

.topBox>.miniTitle>#mini{
    position:absolute;
    font-family: 'Pretendard';
    font-weight:600;
    font-size:1.5vw;
    line-height: 35.8px;
    color:white;
    white-space: nowrap;
    margin-left:-82.5vw;
    margin-top:7vw;
}

.topBox>.topbar{
    position: absolute;
    width:7.4vw;
    height:0.7vw;
    background-color:white;
    border:none;
    margin-left:63vw;
    margin-top:-15vw;
}

.userBox>.user {
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 100px;
    background-color: #0015AD;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    color: white;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

@media (max-width: 1500px) {
    .userBox>.user {
        font-size: 15px;
    }
}

.userbox {
    width: 15vw;
    min-width: 30px;
    min-height: 30px;
    height: 20vw;
    border: 1px solid #919191;
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: -3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.userbox>.userImage {
    width: 8vw;
    padding-top: 8vw;
    border: 2px solid #142F9E;
    background: linear-gradient(#CFCFCF, #FFFFFF);
    border-radius: 50%;
    margin-top: 4vh;
}

.userbox>.name {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #142F9E;
    margin-top: 5%;
}

@media (max-width: 1300px) {
    .userbox>.name {
        font-size: 5px;
    }
}

@media (max-width: 1100px) {
    .userbox>.name {
        font-size: 2px;
    }
}

.userbox>.email {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    color: #4967FF;
}

@media (max-width: 1200px) {
    .userbox>.email {
        font-size: 5px;
    }
}

@media (max-width: 1100px) {
    .userbox>.email {
        font-size: 2px;
    }
}

.userbox>.explain {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #142F9E;
    margin-top: 2%;
}

@media (max-width: 1600px) {
    .userbox>.explain {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .userbox>.explain {
        font-size: 10px;
    }
}

@media (max-width: 1100px) {
    .userbox>.explain {
        font-size: 2px;
    }
}

.userbox>.button-container {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

#pen,
#setting {
    width: 6vw;
    height: 20px;
    border: none;
    background-color: white;
    color: #09174E;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05rem;
    white-space: nowrap;
}

@media (max-width: 1700px) {

    #pen,
    #setting {
        font-size: 1px;
        height: 1vh;
    }
}

#pen {
    width: 4vw;
    margin-right: 5px;
}

#pen:hover,
#setting:hover {
    color: #142F9E;
}

#pen img,
#setting img {
    width: 1vw;
    height: 1vw;
    margin-right: 3px;
}

.menu {
    width: 14.5vw;
    height: 55vw;
    border: 1px solid #919191;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: 20%;
    margin-left: 0.5%;
    background-color: white;
}

.menu>.checklist {
    width: 13vw;
    height: 4vw;
    padding-left: 9%;
    background-color: #131B5A;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .menu>.checklist {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {
    .menu>.checklist {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .menu>.checklist {
        font-size: 10px;
    }
}

.menu>.checklistcircle {
    width: 3vw;
    height: 4vw;
    background-color: #131B5A;
    border-radius: 0 4vw 4vw 0;
    margin-top: -4vw;
    margin-left: 13vw;
}

.menu>.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu>.text1>.checklistText,
.menu>.text1>.calText {
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}

.menu>.text1>.calText {
    margin-bottom: 1.5vw;
}

@media (max-width: 1700px) {
    .menu>.text1>.calText {
        margin-bottom: 1vw;
    }
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText,
    .menu>.text1>.calText {
        margin-top: 1vw;
    }
}

@media (max-width: 1200px) {
    .menu>.text1>.calText {
        margin-bottom: 0.5vw;
    }
}

@media (max-width: 1200px) {

    .menu>.text1>.checklistText,
    .menu>.text1>.calText {
        margin-top: 0.5vw;
    }
}

.menu>.text1>.checklistText>p,
.menu>.text1>.calText>p {
    font-family: 'Inter';
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    font-weight: 400;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 10px;
    }
}

.menu>.text1>.checklistText>i,
.menu>.text1>.calText>i {
    font-size: 0.5rem;
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText>i,
    .menu>.text1>.calText>i {
        font-size: 0.1rem;
    }
}

.menu>.noticeboard {
    width: 13vw;
    height: 4vw;
    padding-left: 9%;
    background-color: #131B5A;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .menu>.noticeboard {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .menu>.noticeboard {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .menu>.noticeboard {
        font-size: 10px;
    }
}

.menu>.noticeboardcircle {
    width: 3vw;
    height: 4vw;
    background-color: #131B5A;
    border-radius: 0 4vw 4vw 0;
    margin-top: -4vw;
    margin-left: 13vw;
}

.menu>.text2,
.menu>.text3,
.menu>.text4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu>.text2>.Jeonse,
.menu>.text2>.bargain,
.menu>.text3>.JeonseReview,
.menu>.text3>.bargainReview,
.menu>.text4>.criminal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}

@media (max-width: 1700px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 1vw;
    }
}

@media (max-width: 1200px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 0.5vw;
    }
}

@media (max-width: 1000px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 0.1vw;
    }
}

.menu>.text2>.notice,
.menu>.text2>.monthly,
.menu>.text3>.review,
.menu>.text3>.monthlyReview,
.menu>.text4>.town,
.menu>.text4>.situation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}

@media (max-width: 1700px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 1.5vw;
    }
}

@media (max-width: 1400px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 0.5vw;
    }
}

@media (max-width: 1100px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 0.1vw;
    }
}


.menu>.text1>.checklistText {
    margin-left: -1vw;
}

.menu>.text1>.checklistText>i {
    padding-right: 2vw;
}

@media (max-width: 1700px) {
    .menu>.text1>.checklistText {
        margin-left: -2vw;
    }
}

@media (max-width: 1700px) {
    .menu>.text1>.checklistText>i {
        padding-right: 1vw;
    }
}

@media (max-width: 1500px) {
    .menu>.text1>.checklistText {
        margin-left: -1vw;
    }
}

@media (max-width: 1500px) {
    .menu>.text1>.checklistText>i {
        padding-right: 2vw;
    }
}

@media (max-width: 1300px) {
    .menu>.text1>.checklistText {
        margin-left: -2vw;
    }
}

@media (max-width: 1300px) {
    .menu>.text1>.checklistText>i {
        padding-right: 2vw;
    }
}

.menu>.text1>.calText {
    margin-left: -3vw;
}

.menu>.text1>.calText>i {
    padding-right: 2.5vw;
}

.menu>.text2>.monthly,
.menu>.text2>.Jeonse,
.menu>.text2>.bargain {
    margin-left: -1vw;
}

.menu>.text2>.monthly>i,
.menu>.text2>.Jeonse>i,
.menu>.text2>.bargain>i {
    padding-right: 1vw;
}

.menu>.text3>.monthlyReview,
.menu>.text3>.JeonseReview,
.menu>.text3>.bargainReview {
    margin-left: -2vw;
}

.menu>.text3>.monthlyReview>i,
.menu>.text3>.JeonseReview>i,
.menu>.text3>.bargainReview>i {
    padding-right: 2vw;
}

.menu>.text4>.situation {
    margin-left: -1vw;
}

.menu>.text4>.situation>i {
    padding-right: 1vw;
}

.menu>.text4>.criminal>i {
    padding-right: 0.6vw;
}

@media (max-width: 1400px) {
    .menu>.text4>.criminal>i {
        padding-right: 1vw;
    }
}

.text2>.notice>p,
.text3>.review>p,
.text4>.town>p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 10px;
    }
}

.text2>.monthly>p,
.text2>.Jeonse>p,
.text2>.bargain>p,
.text3>.monthlyReview>p,
.text3>.JeonseReview>p,
.text3>.bargainReview>p,
.text4>.criminal>p,
.text4>.situation>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 10px;
    }
}

.text2>.monthly>i,
.text2>.Jeonse>i,
.text2>.bargain>i,
.text4>.situation>i,
.text4>.criminal>i {
    font-size: 0.5rem;
}

@media (max-width: 1700px) {

    .text2>.monthly>i,
    .text2>.Jeonse>i,
    .text2>.bargain>i,
    .text4>.situation>i,
    .text4>.criminal>i {
        font-size: 0.1rem;
    }
}

.text3>.monthlyReview>i,
.text3>.JeonseReview>i,
.text3>.bargainReview>i {
    font-size: 0.5rem;
}

.text2>hr,
.text3>hr {
    width: 14.5vw;
    border: 1px solid #131B5A;
    margin-top: 1.5vw;
}

@media (max-width: 1900px) {

    .text2>hr,
    .text3>hr {
        margin-top: 0.9vw;
    }
}

@media (max-width: 1800px) {

    .text2>hr,
    .text3>hr {
        margin-top: 0.6vw;
    }
}

.scheduleTitle {
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 100px;
    background-color: #0015AD;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    color: white;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    z-index: 1;
    position: relative;
}

@media (max-width: 1500px) {
    .scheduleTitle {
        font-size: 15px;
    }
}

.scheduleBox {
    width: 15vw;
    height: 20vw;
    border: 1px solid #919191;
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: -3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scheduleBox>img {
    width: 7vw;
    height: 7vw;
}

@media (max-width:1300px) {
    .scheduleBox>img {
        margin-top: 2vw;
    }
}

.scheduleBox>.scheduleText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.scheduleBox>.scheduleText>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -0.05rem;
    color: #818181;
    margin: 0;
    margin-top: 20px;
}

@media (max-width:1500px) {
    .scheduleBox>.scheduleText>p {
        font-size: 15px;
    }
}

@media (max-width:1100px) {
    .scheduleBox>.scheduleText>p {
        font-size: 10px;
    }
}

.right>.rightTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:-55px;
    margin-left:-3vw;
}

.right>.rightTop>.pContainer{
    display: flex;
    align-items: center;
    margin-left: -10vw;
}

.right>.rightTop>.pContainer>p{
    font-family: 'Hind';
    font-weight:500;
    font-size:0.9vw;
    line-height: 130px;
    letter-spacing: -0.1rem;
    color:white;
    display: inline-block;
    white-space: nowrap;
    margin-right: -12vw;
    z-index:1;
}

#pBar{
    margin-left:14vw;
}

#ptown{
    margin-left:14vw
}
.right>.rightTop>.pContainer>.pBackground, .right>.rightTop>.pContainer>.pBackground2{
    width:7.6vw;
    height:1.8vw;
    background-color:#5378FF;
    border:none;
    margin-left:13.4vw;
    position:absolute;
    margin-top:-1vw;
}

.right>.rightTop>.pContainer>.pBackground {
    border-radius:2.5vw;
    margin-top:1vw;
}


.right>.rightTop>form{
    display: flex;
    justify-content: flex-end;
    margin-right:10vw;
}

.right>.rightTop>form>.SSbox>select{
    width:7vw;
    height:1.5vw;
    border:1px solid #9A9A9A;
    border-radius:2vw;
    outline:none;
    font-family: 'Inter';
    font-weight:400;
    font-size:0.5vw;
    line-height: 6vw;
    letter-spacing: -0.1rem;
    color:#7A7A7A;
    padding-left:0.2vw;
    padding-right:0.1vw;
}

.right>.rightTop>form>.SSbox>#searchBox{
    width:9.4vw;
    height:1.5vw;
    border:1px solid #9A9A9A;
    border-radius:2vw;
    font-weight: 'Inter';
    font-weight: 400;
    font-size:0.5vw;
    line-height: 6.5vw;
    letter-spacing: -0.1rem;
    color:#7A7A7A;
    padding-left:0.4vw;
}

.right>.rightTop>form>.SSbox>.submitContainer>#searchSubmit{
    position:absolute;
    width:2.25vw;
    height:1.4vw;
    border:1px solid #5378FF;
    border-radius:2vw;
    background-color:#5378FF;
    font-family: 'Inter';
    font-weight:400;
    font-size:0.5vw;
    color:white;
    margin-top:-1.45vw;
    margin-left:22.5vw;
}

.right>#postTitle{
    font-family: 'Hind';
    font-weight:500;
    font-size:2.5vw;
    line-height: 6.5vw;
    letter-spacing: -0.1rem;
    color:#5B5B5B;
    margin:0;
    margin-left:0.4vw;
}

.right>#postSub{
    font-family: 'Hind';
    font-weight:500;
    font-size:0.9vw;
    line-height: 6.5vw;
    color:#787878;
    margin:0;
    margin-left:0.8vw;
    margin-top:-4.5vw;
}

.right>select{
    position: absolute;
    width:5vw;
    height:1.4vw;
    border:1px solid #595959;
    border-radius:0.5vw;
    outline:none;
    font-family: 'Hind';
    font-weight:500;
    font-size:0.5vw;
    color:#858585;
    margin-left:55.5vw;
    margin-top:-3vw;
}

#postHr, #postBottomHr{
    width:61vw;
    height:1px;
    background-color:#7A7A7A;
    border:0;
    margin:0;
    margin-top:-1vw;
}

#postBottomHr {
    margin-top: -45px;
}

.right>.postTopbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:2vw;
}

.right>.postTopbar>p{
    font-family: 'Hind';
    font-weight:500;
    font-size:1vw;
    line-height: 130px;
    color:#858585;
    margin:0;
    margin-top:-40px;
}

.right>.postTopbar>#writer{
    margin-right:-15vw;
}

.right>.postTopbar>#createDay{
    margin-left:5vw;
}

.right>.postTopbar>#createDay, .right>.postTopbar>#view{
    margin-right:10vw;
}

.right>.postTopbar>#view{
    margin-left:-20vw;
}

.right>.notificationBox, .right>.writepostBox{
    width:61vw;
    height:2.4vw;
    background-color:#E8E8E8;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #7A7A7A;
    margin:0;
    display: flex;
    align-items: center;
    position:relative;
    white-space: nowrap;
}

.right>.writepostBox {
    background-color:white;
}

.right>.writepostBox>.Topicbox{
    position:absolute;
    margin-left:-12.5vw;
}

.right>.writepostBox>.Topicbox>p{
    font-family: 'Inter';
    font-weight: 600;
    font-size:0.5vw;
    color:#757575;
}

.right>.notificationBox>.Topicbox{
    width:2.3vw;
    height:1.2vw;
    border:2px solid #5378FF;
    border-radius:2vw;
    background-color:#87B3FF;
    font-family: 'Inter';
    font-weight:600;
    font-size:0.5vw;
    color:#0418AB;
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align:center;
    margin-left:2vw;
}

.right>.notificationBox>.postxtbox,
.right>.writepostBox>.postxtbox{
    position:absolute;
    margin-left:8vw;
}

.right>.notificationBox>.postxtbox>p,
.right>.writepostBox>.postxtbox>p{
    font-family: 'Inter';
    font-weight:600;
    font-size:0.6vw;
    color:#000000;
    margin:0;
    display:inline;
}

.right>.writepostBox>.postxtbox>p{
    font-weight:500;
}

.right>.notificationBox>.postxtbox>#writeCount,
.right>.writepostBox>.postxtbox>#writeCount{
    font-family: 'Inter';
    font-weight:500;
    font-size:0.6vw;
    color:#FF0000;
}

.right>.notificationBox>.Writerbox>p,
.right>.notificationBox>.CreateDaybox>p,
.right>.notificationBox>.viewbox>p,
.right>.writepostBox>.Writerbox>p,
.right>.writepostBox>.CreateDaybox>p,
.right>.writepostBox>.viewbox>p{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 0.6vw;
    color: #000000;
    margin: 0;
}

.right>.notificationBox>.Writerbox{
    position:absolute;
    margin-left:40vw;
}

.right>.writepostBox>.Writerbox{
    position:absolute;
    margin-left:39.8vw;
}

.right>.notificationBox>.CreateDaybox,
.right>.writepostBox>.CreateDaybox {
    position: absolute;
    margin-left: 48.8vw;
}

.right>.notificationBox>.viewbox{
    position: absolute;
    margin-left: 58.4vw;
}

.right>.writepostBox>.viewbox{
    position:absolute;
    margin-left:59vw;
}

.right>.paging{
    width:61vw;
    height:2.6vw;
    border:1px solid #949494;
    border-radius:1vw;
    margin-top:2vw;
    flex: display;
    justify-content: center;
    align-items: center;
    text-align:center;
}