@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
}

html{
    width:1920px;
    height:1080px;
}

body{
    overflow:hidden;
    background: linear-gradient(#CDCDCD, #F5F5F5);
    background-repeat: no-repeat;
}

.one1{
    width:713px;
    height:713px;
    position: absolute;
    top: 580px;
    left:-149px;
    background-color:#242A5D;
    border-radius:50%;
}

.one2 {
    width: 910px;
    height: 910px;
    position: absolute;
    top: 15px;
    left: 1620px;
    background-color: #99BCFF;
    border-radius: 50%;
    filter: blur(5px);
}

.one3{
    width:460px;
    height:460px;
    position:absolute;
    top:-282px;
    left:1123px;
    background-color:#2A38B1;
    border-radius:50%;
    filter: blur(10px);
}

i {
    position: absolute;
    width:30px;
    height:32px;
    top: 35px;
    left: 1856px;
}

.text1{
    position: absolute;
    top: 2px;
    left: 62px;
}

.text1>p{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size:30px;
    line-height: 36.31px;
    color:#242A57;
    letter-spacing: -5%;
}

.bluebox{
    display: flex;
    justify-content: center;
    width:600px;
    height:723px;
    position: absolute;
    top:70px;
    left:305px;
    border-radius:130px;
    background:linear-gradient(#4762FF, #78B6FF);
    box-shadow: 25px 0px 36px -1px rgba(0, 0, 0, 0.23);
    z-index: 2;
}

.bluebox>i{
    position:absolute;
    top:80px;
    left:55px;
}

.bluebox>p{
    color:white;
    position:absolute;
    top:180px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.bluebox>.text2{
    display: flex;
    justify-content: center;
}

.bluebox>.text2>p{
    color: white;
    position: absolute;
    top: 200px;
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    font-size: 90px;
    z-index:1;
}

.bluebox>.text3{
    display: flex;
    justify-content: center;
}

.bluebox>.text3>p{
    color: white;
    position: absolute;
    top: 390px;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 25px;
}

.whitebox{
    width:770px;
    height:600px;
    position:absolute;
    top:260px;
    right:260px;
    background:white;
    border-radius:100px;
    box-shadow: 38px 22px 65px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whitebox>p{
    position: absolute;
    top:5px;
    left:128px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size:60px;
    color:#000000;
}

.whitebox>.text4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whitebox>.text4>i{
    position:absolute;
    color:#575757;
    width:14.31px;
    height:16.95px;
    top: 232px;
    left: 148px;
    z-index: 1;
}

.whitebox>.text4>p{
    position:absolute;
    top:150px;
    left:131px;
    font-family: 'Inter', sans-serif;
    font-weight:400;
    font-size:20px;
    color:#BEBEBE;
}

.whitebox>.text4>input{
    box-sizing: border-box;
    width:523.81px;
    height:65px;
    position:absolute;
    top:200px;
    border-radius:55px;
    border:2px solid #C4C4C4;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Inter', sans-serif;
    font-weight:400;
    font-size:16px;
    color:#4A4A4A;
}

.whitebox>.text5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whitebox>.text5>p{
    position: absolute;
    top: 267px;
    left: 131px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #BEBEBE;
}

.whitebox>.text5>i {
    position: absolute;
    color: #575757;
    width: 14.31px;
    height: 16.95px;
    top: 347px;
    left: 148px;
    z-index: 1;
}

.whitebox>.text5>input{
    box-sizing:border-box;
    width: 523.81px;
    height: 65px;
    position: absolute;
    top: 315px;
    border-radius: 55px;
    border: 2px solid #C4C4C4;
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4A4A4A;
}

[type="checkbox"]{
    appearance: none;
    border:2px solid #C4C4C4;
    border-radius:50%;
    position:absolute;
    left:131px;
    top:395px;
    width:22px;
    height:22px;
    cursor:pointer;
}

[type="checkbox"]:checked {
    border: 2px solid #4967FF;
    border-radius: 50%;
    background: #4967FF;
    background-image: url("../image/check.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer;
}

.whitebox>.text6>label>p{
    position: absolute;
    top: 388px;
    left: 161px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #C4C4C4;
    cursor:pointer;
}

.whitebox>.text6>label>[type="checkbox"]:checked+p{
    color:#4967FF;
}


.whitebox>.text7>p{
    position: absolute;
    top:382px;
    right:198px;
    color:#C4C4C4;
}

.whitebox>.text7>button{
    border:none;
    background-color:white;
    color: #C4C4C4;
    font-family: 'Inter', sans-serif;
    font-size:13px;
    font-weight:400;
    cursor: pointer;
}

#idbtn{
    position:absolute;
    top:400px;
    right:209px;
}

#joinbtn{
    position: absolute;
    top: 400px;
    right:131px;
    color: #C4C4C4;
}

.whitebox>.text7>#idbtn:hover {
    color: #4967FF;
    font-weight: 800;
}

.whitebox>.text7>#joinbtn:hover{
    color: #4967FF;
    font-weight: 800;
}

.whitebox>button{
    width: 523.81px;
    height: 65px;
    position: absolute;
    top: 463px;
    border-radius: 55px;
    border: 2px solid #4967FF;
    background-color: #4967FF;
    font-family: 'Inter', sans-serif;
    font-weight:500;
    font-size:23px;
    color:white;
    cursor:pointer;
}

.circle1 {
    width: 9.19px;
    height: 9.19px;
    border-radius: 50%;
    background-color: #4967FF;
    position: absolute;
    top: 805px;
    right: 652px;
}

.circle2{
    width:9.19px;
    height:9.19px;
    border-radius: 50%;
    background-color: #4967FF;
    position:absolute;
    top:805px;
    right:637px;
}

.circle3{
width: 9.19px;
    height: 9.19px;
    border-radius: 50%;
    background-color: #4967FF;
    position: absolute;
    top: 805px;
    right: 622px;
}