@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
    background: linear-gradient(#CDCDCD, #F5F5F5) no-repeat center fixed;
    height: 100vh;
    width: 100vw;
}

.all>.left {
    width: 30%;
    padding-left: 12%;
    float: left;
    box-sizing: border-box;
}

.all>.right {
    width: 70%;
    float: right;
    box-sizing: border-box;
}

.Middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Middle>.Mcircle {
    height: 149px;
    width: 60%;
    border: none;
    border-radius: 100px;
    background-color: #151E63;
    margin-top: -100px;
    margin-left: -20px;
}

.top {
    margin-top: -85px;
}

p {
    font-family: 'Jua';
    font-weight: 400;
    font-size: 3vw;
    line-height: 75px;
    letter-spacing: -0.05rem;
    color: #233C9B;
    margin-right: auto;
    margin-left: 2vw;
    cursor:pointer;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -5.5vw;
    margin-right: 5vw;
}

.icon>i {
    margin-right: 2vw;
    font-size: 2rem;
    cursor:pointer;
}

@media (max-width: 1300px) {
    .icon>i {
        font-size: 1.5rem;
    }
}

.bell {
    display: flex;
    align-items: center;
}

.bell>i {
    margin-right: 5px;
    cursor:pointer;
}

@media (max-width: 1300px) {
    .bell>i {
        font-size: 1.5rem;
    }
}


.EditTitle>p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 36.31px;
    letter-spacing: -0.05rem;
    color: #525253;
    margin-left: 88%;
    margin-top: 5%;
    margin-bottom:5%;
    cursor:pointer;
}

.userBox>.user {
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 100px;
    background-color: #0015AD;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    color: white;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

@media (max-width: 1500px) {
    .userBox>.user {
        font-size: 15px;
    }
}

.userbox {
    width: 15vw;
    min-width: 30px;
    min-height: 30px;
    height: 20vw;
    border: 1px solid #919191;
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: -3vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.userbox>.userImage {
    width: 8vw;
    padding-top: 8vw;
    border: 2px solid #142F9E;
    background: linear-gradient(#CFCFCF, #FFFFFF);
    border-radius: 50%;
    margin-top: 4vh;
}

.userbox>.name {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 18px;
    color: #142F9E;
    margin-top: 5%;
}

@media (max-width: 1300px) {
    .userbox>.name {
        font-size: 5px;
    }
}

@media (max-width: 1100px) {
    .userbox>.name {
        font-size: 2px;
    }
}

.userbox>.email {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    color: #4967FF;
}

@media (max-width: 1200px) {
    .userbox>.email {
        font-size: 5px;
    }
}

@media (max-width: 1100px) {
    .userbox>.email {
        font-size: 2px;
    }
}

.userbox>.explain {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #142F9E;
    margin-top: 2%;
}

@media (max-width: 1600px) {
    .userbox>.explain {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {
    .userbox>.explain {
        font-size: 10px;
    }
}

@media (max-width: 1100px) {
    .userbox>.explain {
        font-size: 2px;
    }
}

.userbox>.button-container {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

#pen,
#setting {
    width: 6vw;
    height: 20px;
    border: none;
    background-color: white;
    color: #09174E;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05rem;
    white-space: nowrap;
}

@media (max-width: 1700px) {

    #pen,
    #setting {
        font-size: 1px;
        height: 1vh;
    }
}

#pen {
    width: 4vw;
    margin-right: 5px;
}

#pen:hover,
#setting:hover {
    color: #142F9E;
}

#pen img,
#setting img {
    width: 1vw;
    height: 1vw;
    margin-right: 3px;
}

.menu {
    width: 14.5vw;
    height: 55vw;
    border: 1px solid #919191;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: 20%;
    margin-left: 0.5%;
    background-color: white;
}

.menu>.checklist {
    width: 13vw;
    height: 4vw;
    padding-left: 9%;
    background-color: #131B5A;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .menu>.checklist {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {
    .menu>.checklist {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .menu>.checklist {
        font-size: 10px;
    }
}

.menu>.checklistcircle {
    width: 3vw;
    height: 4vw;
    background-color: #131B5A;
    border-radius: 0 4vw 4vw 0;
    margin-top: -4vw;
    margin-left: 13vw;
}

.menu>.text1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu>.text1>.checklistText,
.menu>.text1>.calText {
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}

.menu>.text1>.calText {
    margin-bottom: 1.5vw;
}

@media (max-width: 1700px) {
    .menu>.text1>.calText {
        margin-bottom: 1vw;
    }
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText,
    .menu>.text1>.calText {
        margin-top: 1vw;
    }
}

@media (max-width: 1200px) {
    .menu>.text1>.calText {
        margin-bottom: 0.5vw;
    }
}

@media (max-width: 1200px) {

    .menu>.text1>.checklistText,
    .menu>.text1>.calText {
        margin-top: 0.5vw;
    }
}

.menu>.text1>.checklistText>p,
.menu>.text1>.calText>p {
    font-family: 'Inter';
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    font-weight: 400;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {

    .menu>.text1>.checklistText>p,
    .menu>.text1>.calText>p {
        font-size: 10px;
    }
}

.menu>.text1>.checklistText>i,
.menu>.text1>.calText>i {
    font-size: 0.5rem;
}

@media (max-width: 1700px) {

    .menu>.text1>.checklistText>i,
    .menu>.text1>.calText>i {
        font-size: 0.1rem;
    }
}

.menu>.noticeboard {
    width: 13vw;
    height: 4vw;
    padding-left: 9%;
    background-color: #131B5A;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

@media (max-width: 1600px) {
    .menu>.noticeboard {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .menu>.noticeboard {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {
    .menu>.noticeboard {
        font-size: 10px;
    }
}

.menu>.noticeboardcircle {
    width: 3vw;
    height: 4vw;
    background-color: #131B5A;
    border-radius: 0 4vw 4vw 0;
    margin-top: -4vw;
    margin-left: 13vw;
}

.menu>.text2,
.menu>.text3,
.menu>.text4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu>.text2>.Jeonse,
.menu>.text2>.bargain,
.menu>.text3>.JeonseReview,
.menu>.text3>.bargainReview,
.menu>.text4>.criminal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}

@media (max-width: 1700px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 1vw;
    }
}

@media (max-width: 1200px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 0.5vw;
    }
}

@media (max-width: 1000px) {

    .menu>.text2>.Jeonse,
    .menu>.text2>.bargain,
    .menu>.text3>.JeonseReview,
    .menu>.text3>.bargainReview,
    .menu>.text4>.criminal {
        margin-top: 0.1vw;
    }
}

.menu>.text2>.notice,
.menu>.text2>.monthly,
.menu>.text3>.review,
.menu>.text3>.monthlyReview,
.menu>.text4>.town,
.menu>.text4>.situation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}

@media (max-width: 1700px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 1.5vw;
    }
}

@media (max-width: 1400px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 0.5vw;
    }
}

@media (max-width: 1100px) {

    .menu>.text2>.notice,
    .menu>.text2>.monthly,
    .menu>.text3>.review,
    .menu>.text3>.monthlyReview,
    .menu>.text4>.town,
    .menu>.text4>.situation {
        margin-top: 0.1vw;
    }
}


.menu>.text1>.checklistText {
    margin-left: -1vw;
}

.menu>.text1>.checklistText>i {
    padding-right: 2vw;
}

@media (max-width: 1700px) {
    .menu>.text1>.checklistText {
        margin-left: -2vw;
    }
}

@media (max-width: 1700px) {
    .menu>.text1>.checklistText>i {
        padding-right: 1vw;
    }
}

@media (max-width: 1500px) {
    .menu>.text1>.checklistText {
        margin-left: -1vw;
    }
}

@media (max-width: 1500px) {
    .menu>.text1>.checklistText>i {
        padding-right: 2vw;
    }
}

@media (max-width: 1300px) {
    .menu>.text1>.checklistText {
        margin-left: -2vw;
    }
}

@media (max-width: 1300px) {
    .menu>.text1>.checklistText>i {
        padding-right: 2vw;
    }
}

.menu>.text1>.calText {
    margin-left: -3vw;
}

.menu>.text1>.calText>i {
    padding-right: 2.5vw;
}

.menu>.text2>.monthly,
.menu>.text2>.Jeonse,
.menu>.text2>.bargain {
    margin-left: -1vw;
}

.menu>.text2>.monthly>i,
.menu>.text2>.Jeonse>i,
.menu>.text2>.bargain>i {
    padding-right: 1vw;
}

.menu>.text3>.monthlyReview,
.menu>.text3>.JeonseReview,
.menu>.text3>.bargainReview {
    margin-left: -2vw;
}

.menu>.text3>.monthlyReview>i,
.menu>.text3>.JeonseReview>i,
.menu>.text3>.bargainReview>i {
    padding-right: 2vw;
}

.menu>.text4>.situation {
    margin-left: -1vw;
}

.menu>.text4>.situation>i {
    padding-right: 1vw;
}

.menu>.text4>.criminal>i {
    padding-right: 0.6vw;
}

@media (max-width: 1400px) {
    .menu>.text4>.criminal>i {
        padding-right: 1vw;
    }
}

.text2>.notice>p,
.text3>.review>p,
.text4>.town>p {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 15px;
    }
}

@media (max-width: 1100px) {

    .text2>.notice>p,
    .text3>.review>p,
    .text4>.town>p {
        font-size: 10px;
    }
}

.text2>.monthly>p,
.text2>.Jeonse>p,
.text2>.bargain>p,
.text3>.monthlyReview>p,
.text3>.JeonseReview>p,
.text3>.bargainReview>p,
.text4>.criminal>p,
.text4>.situation>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.26px;
    letter-spacing: -0.05rem;
    color: #131B5A;
    margin: 0;
}

@media (max-width: 1700px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 20px;
    }
}

@media (max-width: 1400px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 15px;
    }
}

@media (max-width: 1200px) {

    .text2>.monthly>p,
    .text2>.Jeonse>p,
    .text2>.bargain>p,
    .text3>.monthlyReview>p,
    .text3>.JeonseReview>p,
    .text3>.bargainReview>p,
    .text4>.criminal>p,
    .text4>.situation>p {
        font-size: 10px;
    }
}

.text2>.monthly>i,
.text2>.Jeonse>i,
.text2>.bargain>i,
.text4>.situation>i,
.text4>.criminal>i {
    font-size: 0.5rem;
}

@media (max-width: 1700px) {

    .text2>.monthly>i,
    .text2>.Jeonse>i,
    .text2>.bargain>i,
    .text4>.situation>i,
    .text4>.criminal>i {
        font-size: 0.1rem;
    }
}

.text3>.monthlyReview>i,
.text3>.JeonseReview>i,
.text3>.bargainReview>i {
    font-size: 0.5rem;
}

.text2>hr,
.text3>hr {
    width: 14.5vw;
    border: 1px solid #131B5A;
    margin-top: 1.5vw;
}

@media (max-width: 1900px) {

    .text2>hr,
    .text3>hr {
        margin-top: 0.9vw;
    }
}

@media (max-width: 1800px) {

    .text2>hr,
    .text3>hr {
        margin-top: 0.8vw;
    }
}

.scheduleTitle {
    width: 15vw;
    height: 3vw;
    border: none;
    border-radius: 100px;
    background-color: #0015AD;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    color: white;
    font-family: 'Hind';
    font-weight: 600;
    font-size: 25px;
    line-height: 40.03px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    z-index: 1;
    position: relative;
}

@media (max-width: 1500px) {
    .scheduleTitle {
        font-size: 15px;
    }
}

.scheduleBox {
    width: 15vw;
    height: 20vw;
    border: 1px solid #919191;
    background-color: white;
    border-radius: 50px;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    margin-top: -3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scheduleBox>img {
    width: 7vw;
    height: 7vw;
}

@media (max-width:1300px) {
    .scheduleBox>img {
        margin-top: 2vw;
    }
}

.scheduleBox>.scheduleText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.scheduleBox>.scheduleText>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: -0.05rem;
    color: #818181;
    margin: 0;
    margin-top: 20px;
}

@media (max-width:1500px) {
    .scheduleBox>.scheduleText>p {
        font-size: 15px;
    }
}

@media (max-width:1100px) {
    .scheduleBox>.scheduleText>p {
        font-size: 10px;
    }
}

.all>.right>.profile{
    margin-left:2vw;
    margin-top:-2vw;
}

.all>.right>.profile>i{
    font-size:3rem;
    color:#142F9E;
    display: inline-block;
}

@media (max-width:1200px) {
    .all>.right>.profile>i{
        font-size:2rem;
    }
}

@media (max-width:700px) {
    .all>.right>.profile>i {
        font-size: 1.5rem;
    }
}

.all>.right>.profile>p{
    display: inline-block;
    padding-top:2vw;
    font-family: 'Inter';
    font-weight:600;
    font-size:2vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color:#142F9E;
    margin-left:0.5vw;
}

.all>.right>form>.profilebox {
    width: 90%;
    height: auto;
    border: 1px solid #919191;
    border-radius: 70px;
    background-color: white;
    margin-left: 2vw;
    box-shadow: inset 6px -5px 28px 0px rgba(0, 0, 0, 0.28);
    text-align: left;
    padding-bottom: 2vw;
    position: relative;
}

.all>.right>form>.profilebox>#uname {

    font-family: 'Inter';
    font-weight: 600;
    font-size: 4vw;
    line-height: 30px;
    letter-spacing: -0.1rem;
    color: #142F9E;
    margin-left: 10%;
    margin-top: 10%;
}

.all>.right>form>.profilebox>.emailbox {
    width: 26vw;
    height: 4.8vh;
    border-radius: 100px;
    border: none;
    background-color: #0015AD;
    opacity: 0.6;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.32);
    margin-left: 10%;
    margin-top: -2%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color: white;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.all>.right>form>.profilebox>.photoEdit {
    position: absolute;
    margin-top: 1vw;
    margin-left: -1vw;
}

.all>.right>form>.profilebox>.photoEdit>.photo {
    position: relative;
    width: 15vw;
    height: 15vw;
    border: 2px solid #142F9E;
    background: linear-gradient(#CFCFCF, #FFFFFF);
    border-radius: 50%;
    margin-left: 45vw;
    margin-top: -10vw;
}

#rephoto {
    position: absolute;
    border: none;
    width: 3vw;
    height: 3vw;
    background-color: #0015AD;
    border-radius: 50%;
    margin-left: 57vw;
    margin-top: -4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rephoto>i {
    width: 1.5vw;
    height: 1.6vw;
    color: white;
    margin-top: 1.5vw;
}

@media (max-width:1200px) {
    #rephoto>i {
        font-size: 0.1rem;
    }
}

.all>.right>form>.profilebox>.EmailContainer{
    width: 33vw;
    height: auto;
    border: 4px solid #5378FF;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: -1vw;
}

.all>.right>form>.profilebox>.ExplainContainer1,
.all>.right>form>.profilebox>.ExplainContainer2 {
    width: 33vw;
    height: auto;
    border: 4px solid #5378FF;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: 5vw;
}

.all>.right>form>.profilebox>.EmailContainer>#Email{
    margin-top:5vw;
}

.all>.right>form>.profilebox>.EmailContainer>#Email,
.all>.right>form>.profilebox>.ExplainContainer1>#Explain {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.9vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color: #4967FF;
    margin-left: 0;
    margin-bottom: 0.8vw;
}

.all>.right>form>.profilebox>.EmailContainer>p{
    margin-top:5vw;
}

.all>.right>form>.profilebox>.EmailContainer>p,
.all>.right>form>.profilebox>.ExplainContainer2>p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 10px;
    letter-spacing: -0.05rem;
    color: #4967FF;
    margin-right: 0;
    margin-bottom: 0.8vw;
}

.all>.right>form>.profilebox>.ExplainContainer1,
.all>.right>form>.profilebox>.ExplainContainer2 {
    width: 50vw;
}

.all>.right>form>.profilebox>.ExplainContainer2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5vw;
}

.all>.right>form>.profilebox>.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 2vw;
    gap: 1vw;
}

#edit,
#save {
    border: 3px solid #4967FF;
    border-radius: 30px;
    width: 5vw;
    height: 2.5vw;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1vw;
    background-color: white;
    cursor: pointer;
}

#edit:hover,
#save:hover {
    background-color: #4967FF;
    color: white;
}

.input-box {
    width: 50vw;
    height: 3vw;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    color: #4967FF;
    padding-left: 20px;
}

.input-box2 {
    position: absolute;
    width: 30vw;
    height: 5vw;
    top:-2%;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 4vw;
    color: #142F9E;
    background-color: white;
    border: none;
    outline: none;
}

.input-box3 {
    position: absolute;
    width: 30vw;
    height: 5vw;
    top: 2%;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 4vw;
    color: #142F9E;
    background-color: white;
    border: none;
    outline: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(3px);
}

.modal {
    height: 400px;
    width: 700px;
    background-color: #c9d1f7;
    border: 4px solid #7282fa;
    border-radius: 30px;
    text-align: center;
}

.modal-container>.modal>h1 {
    margin-top: 80px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    margin-left: 50px;
}

.modal-container>.modal>.photobox {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: -230px;
    margin-left: auto;
    margin-right: 50px;
    background-color: #0015AD;
}

.modal-container>.modal>.photobox>.photoImage {
    width: 300px;
    height: 300px;
    background-color: #0015AD;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-container>.modal>#photoInput {
    margin-left: -350px;
    margin-top: 70px;
}

.modal-container>.modal>#close {
    width: 30px;
    height: 30px;
    border: none;
    font-size: 30px;
    background-color: #c9d1f7;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-left: auto;
    margin-right: -640px;
    margin-top: 10px;
}

.modal-container.show {
    display: flex;
}

.modal-container.show .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}