<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LisaMate</title>
    <link rel="stylesheet" href="../static/css/basic.css">
    <script src="https://kit.fontawesome.com/d4b61b3d04.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="circle"></div>
    <p>LISA MATE</p>
    <i class="fa-solid fa-user fa-2xl"></i>
    <div class="home">
        <i class="fa-solid fa-house fa-2xl"></i>
    </div>
    <div class="bell">
        <i class="fa-solid fa-bell fa-2xl"></i>
        <div class="redcircle"></div>
    </div>
    <div class="text1">
        <p>My Check list</p>
    </div>
    <div class="text2">
        <p>Checklist</p>
    </div>
    <div class="text2-2">
        <p>|</p>
    </div>
    <div class="text2-1">
        <p>Calendar</p>
    </div>


    <div class="user">USER</div>
    <div class="userbox">
        <div class="userImage"></div>
        <div class="id">아기사자 33</div>
        <div class="email">LIKEALION@333</div>
        <div class="explain">이사 준비 중입니다!</div>
        <button type="button" id="pen">
            <img src="../static/image/pen.PNG">글쓰기
        </button>
        <button type="button" id="setting">
            <img src="../static/image/setting.png">프로필 편집/설정
        </button>
    </div>

    <div class="menu"></div>
    <div class="checklist">
        <p>체크리스트</p>
    </div>
    <div class="checklistCircle"></div>
    <div class="noticeboard">
        <p>게시판</p>
    </div>
    <div class="noticeboardCircle"></div>

    <div class="check">
        <i class="fa-solid fa-circle fa-xs"></i>
        <p>체크리스트</p>
    </div>
    <div class="calender">
        <i class="fa-solid fa-circle fa-xs"></i>
        <p>캘린더</p>
    </div>

    <div class="information">
        <p>정보 게시판</p>
        <div class="monthly">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>월세 정보 공유</p>
        </div>
        <div class="Jeonse">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>전세 정보 공유</p>
        </div>
        <div class="bargain">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>매매 정보 공유</p>
        </div>
        <hr>
    </div>

    <div class="review">
        <p>후기 게시판</p>
        <div class="monthlyReview">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>월세 후기</p>
        </div>
        <div class="JeonseReview">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>전세 후기</p>
        </div>
        <div class="bargainReview">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>매매 후기</p>
        </div>
        <hr>
    </div>

    <div class="town">
        <p>우리동네 게시판</p>
        <div class="situation">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>우리동네 현황</p>
        </div>
        <div class="criminal">
            <i class="fa-solid fa-circle fa-xs"></i>
            <p>범죄자 거주 정보</p>
        </div>
    </div>

    <div class="schedulebar">Schedule</div>
    <div class="scheduleMenu">
        <img src="../static/image/sleepy.png">
        <div class="text3">
            <p>오늘의 일정이 없습니다.</p>
        </div>
    </div>
    </div>
</body>
</html>