<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LisaMate</title>
    <link rel="stylesheet" href="../static/css/cal.css">
</head>

<body>
    <div class="Middle">
        <div class="Mcircle"></div>
    </div>
    <div class="top">
        <p>My Check list</p>
        <div class="icon">
            <i class="fa-solid fa-user fa-2xl"></i>
            <i class="fa-solid fa-house fa-2xl"></i>
            <div class="bell">
                <i class="fa-solid fa-bell fa-2xl"></i>
                <div class="redcircle"></div>
            </div>
        </div>
    </div>

    <div class="logo">
        <p>LISA MATE</p>
    </div>

    <div class="middleTitle">
        <p id="CL">Checklist</p>
        <p id="bar">|</p>
        <p id="Cal">Calendar</p>
    </div>

    <div class="all">
        <div class="left">
            <div class="userBox">
                <div class="user">USER</div>
                <div class="userbox">
                    <div class="userImage"></div>
                    <div class="name">아기사자 33</div>
                    <div class="email">LIKEALION@333</div>
                    <div class="explain">이사 준비 중입니다!</div>
                    <div class="button-container">
                        <button type="button" id="pen">
                            <img src="../static/image/pen.PNG">글쓰기
                        </button>
                        <button type="button" id="setting">
                            <img src="../static/image/setting.png">프로필 편집/설정
                        </button>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="checklist">체크리스트</div>
                <div class="checklistcircle"></div>
                <div class="text1">
                    <div class="checklistText">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>체크리스트</p>
                    </div>
                    <div class="calText">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>캘린더</p>
                    </div>
                </div>
                <div class="noticeboard">게시판</div>
                <div class="noticeboardcircle"></div>
                <div class="text2">
                    <div class="notice">
                        <p>정보 게시판</p>
                    </div>
                    <div class="monthly">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>월세 정보 공유</p>
                    </div>
                    <div class="Jeonse">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>전세 정보 공유</p>
                    </div>
                    <div class="bargain">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>매매 정보 공유</p>
                    </div>
                    <hr>
                </div>
                <div class="text3">
                    <div class="review">
                        <p>후기 게시판</p>
                    </div>
                    <div class="monthlyReview">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>월세 후기</p>
                    </div>
                    <div class="JeonseReview">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>전세 후기</p>
                    </div>
                    <div class="bargainReview">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>매매 후기</p>
                    </div>
                    <hr>
                </div>
                <div class="text4">
                    <div class="town">
                        <p>우리동네 게시판</p>
                    </div>
                    <div class="situation">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>우리동네 현황</p>
                    </div>
                    <div class="criminal">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>범죄자 거주 정보</p>
                    </div>
                </div>
            </div>
            <div class="scheduleTitle">Schedule</div>
            <div class="scheduleBox">
                <img src="../static/image/sleepy.png">
                <div class="scheduleText">
                    <p>오늘의 일정이 없습니다.</p>
                </div>
            </div>
        </div>

        <div class="right">
            <div class="calendarbox">
                <div class="Calendar1">
                    <div class="Container">
                        <i class="fa-regular fa-calendar fa-2xl"></i>
                        <div class="ctext">
                            <p>Calendar</p>
                        </div>
                    </div>
                    <div class="innerCalendar">
                        <div class="calendar">
                            <div class="header">
                                <div class="year-month"></div>
                                <div class="nav">
                                    <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                                    <button class="nav-btn go-today"></button>
                                    <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
                                </div>
                            <div class="year-month2"></div>
                        </div>
                        <div class="main" onclick="openModal()">
                            <div class="days">
                                <div class="day">일</div>
                                <div class="day">월</div>
                                <div class="day">화</div>
                                <div class="day">수</div>
                                <div class="day">목</div>
                                <div class="day">금</div>
                                <div class="day">토</div>
                            </div>
                        <div class="dates"></div>
                    </div>
                </div>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content" id="modal-content">
                    <div class="modalTop">
                        <p id="modal-close" onclick="closeModal()">LISA MATE</p>
                        <div class="rightContainer">
                            <div class="text4">
                                <p>Checklist</p>
                            </div>
                            <p>|</p>
                            <div class="text6">
                                <p>Calendar</p>
                            </div>
                        </div>
                    </div>

                    <div class="modalBox">
                        <div class="modalbox"></div>
                        <div class="modalbar"></div>
                        <div class="modalcircle"></div>
                        <div class="modalinner"></div>
                        <i class="fa-regular fa-calendar fa-2xl"></i>
                        <div class="ctext2">Calendar</div>
                        <div class="inner"></div>
                    </div>
                    <div class="modalcalendar">
                        <div class="modalheader">
                            <div class="modal-year-month"></div>
                            <div class="modalnav">
                                <button class="modalnav-btn modal-go-prev" onclick="prevMonth2()">&lt;</button>
                                <button class="modalnav-btn modal-go-today"></button>
                                <button class="modalnav-btn modal-go-next" onclick="nextMonth2()">&gt;</button>
                            </div>
                            <div class="modal-year-month2"></div>
                        </div>
                        <div class="modalmain">
                            <div class="modaldays">
                                <div class="modalday">일</div>
                                <div class="modalday">월</div>
                                <div class="modalday">화</div>
                                <div class="modalday">수</div>
                                <div class="modalday">목</div>
                                <div class="modalday">금</div>
                                <div class="modalday">토</div>
                            </div>
                            <div class="modaldates"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftbar"></div>
        <div class="leftcircle"></div>
    </div>
</body>
    <script src="../static/javascript/cal.js"></script>
    <script src="https://kit.fontawesome.com/d4b61b3d04.js" crossorigin="anonymous"></script>
</html>