<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://kit.fontawesome.com/d4b61b3d04.js" crossorigin="anonymous"></script>
    <title>LisaMate</title>
    <script src="../static/javascript/login.js"></script>
</head>
<body>
    <div class="one1"></div>
    <div class="one2"></div>
    <div class="one3"></div>
    <div class="text1">
        <p>Lisa mate</p>
    </div>
    <a href="#" onClick="top.location='javascript:location.reload()'">
        <i class="fa-solid fa-house fa-xl" style="color: #242A5D"></i>
    </a>

    <div class="bluebox">
        <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
        <p>Hello</p>
        <div class="text2">
            <p>LISA MATE</p>
        </div>
        <div class="text3">
            <p>나의 이사메이트 리사.</p>
        </div>
    </div>

    <form action="#">
        <div class="whitebox">
        <p>Login</p>
        <div class="text4">
            <p>User</p>
            <i class="fa-regular fa-user fa-lg"></i>
            <input type="text" placeholder="아이디를 입력해주세요." name="id">
        </div>
        <div class="text5">
            <p>Password</p>
            <i class="fa-solid fa-lock fa-lg"></i>
            <input type="text" placeholder="비밀번호를 입력해주세요." name="password">
        </div>
        <div class="text6">
            <label for="saveLogin">
                <input type="checkbox" id="saveLogin">
                <p id="saveUser">로그인 정보 저장</p>
            </label>
        </div>
        <div class="text7">
            <button id="idbtn">아이디 찾기</button>
            <p>/</p>
            <button id="joinbtn">회원가입</button>
        </div>
        <button type="submit">LOGIN</button>
        </div>
    </form>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
</body>
</html>