<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LisaMate</title>
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="https://kit.fontawesome.com/d4b61b3d04.js" crossorigin="anonymous"></script>
    <script src="../static/javascript/profile.js"></script>
</head>
<body>
    <div class="Middle">
        <div class="Mcircle"></div>
    </div>
    <div class="top">
        <p>LISA MATE</p>
        <div class="icon">
            <i class="fa-solid fa-user fa-2xl"></i>
            <i class="fa-solid fa-house fa-2xl"></i>
            <div class="bell">
                <i class="fa-solid fa-bell fa-2xl"></i>
                <div class="redcircle"></div>
            </div>
        </div>
    </div>

    <div class="EditTitle">
        <p>Edit Profile</p>
    </di>

    <div class="all">
        <div class="left">
            <div class="userBox">
                <div class="user">USER</div>
                <div class="userbox">
                    <div class="userImage"></div>
                    <div class="name">아기사자 33</div>
                    <div class="email">LIKEALION@333</div>
                    <div class="explain">이사 준비 중입니다!</div>
                    <div class="button-container">
                        <button type="button" id="pen">
                            <img src="../static/image/pen.PNG">글쓰기
                        </button>
                        <button type="button" id="setting">
                            <img src="../static/image/setting.png">프로필 편집/설정
                        </button>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="checklist">체크리스트</div>
                <div class="checklistcircle"></div>
                <div class="text1">
                    <div class="checklistText">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>체크리스트</p>
                    </div>
                    <div class="calText">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>캘린더</p>
                    </div>
                </div>
                <div class="noticeboard">게시판</div>
                <div class="noticeboardcircle"></div>
                <div class="text2">
                    <div class="notice">
                        <p>정보 게시판</p>
                    </div>
                    <div class="monthly">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>월세 정보 공유</p>
                    </div>
                    <div class="Jeonse">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>전세 정보 공유</p>
                    </div>
                    <div class="bargain">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>매매 정보 공유</p>
                    </div>
                    <hr>
                </div>
                <div class="text3">
                    <div class="review">
                        <p>후기 게시판</p>
                    </div>
                    <div class="monthlyReview">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>월세 후기</p>
                    </div>
                    <div class="JeonseReview">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>전세 후기</p>
                    </div>
                    <div class="bargainReview">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>매매 후기</p>
                    </div>
                    <hr>
                </div>
                <div class="text4">
                    <div class="town">
                        <p>우리동네 게시판</p>
                    </div>
                    <div class="situation">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>우리동네 현황</p>
                    </div>
                    <div class="criminal">
                        <i class="fa-solid fa-circle fa-xs"></i>
                        <p>범죄자 거주 정보</p>
                    </div>
                </div>
            </div>
            <div class="scheduleTitle">Schedule</div>
            <div class="scheduleBox">
                <img src="../static/image/sleepy.png">
                <div class="scheduleText">
                    <p>오늘의 일정이 없습니다.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="profile">
                <i class="fa-solid fa-gear fa-2xl"></i>
                <p>프로필 편집</p>
            </div>
            <form action="#">
            <div class="profilebox">
                <p id="uname">아기사자 33</p>
                <div class="emailbox">LIKEALION3333@gmail.com</div>
                <div class="photoEdit">
                    <div class="photo"></div>
                    <button id="rephoto" onclick="rephotoButtonClickHandler()">
                        <i class="fa-solid fa-pen fa-xl"></i>
                    </button>
                    <div class="modal-container" id="modalContainer">
                        <div class="modal" id="modal">
                            <button id="close" onclick="closeModal()">X</button>
                            <h1>프로필 사진 변경</h1>
                            <input type="file" id="photoInput" onchange="handleFileUpload(event)">
                            <div class="photobox">
                                <div class="photoImage"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="EmailContainer">
                    <p id="Email">E-mail</p>
                    <p>LIKEALION3333@gmail.com</p>
                </div>
                <div class="ExplainContainer1">
                    <p id="Explain">소개글</p>
                </div>
                <div class="ExplainContainer2">
                    <p id="explaintext">이사 준비 중입니다!</p>
                </div>
                <div class="buttonContainer">
                    <button id="edit" onclick="editClick()">수정</button>
                    <button type="submit" id="save" onclick="saveClick()">완료</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</body>
</html>